In [1]:
# Loading all the libraries
import pandas as pd
import numpy as np
import scipy.stats
import streamlit as st
import time

In [3]:
#Load Data

df = pd.read_csv('../vehicles_us.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
dtypes: float64(4), int64(2), object(7)
memory usage: 5.1+ MB

In [9]:
print ("info: \n",df['type'].info())

print("head: \n",df['type'].head(n=15))

print("sample: \n",df['type'].sample(n=15))

<class 'pandas.core.series.Series'>
RangeIndex: 51525 entries, 0 to 51524
Series name: type
Non-Null Count  Dtype
--------------  -----
51525 non-null  object
dtypes: object(1)
memory usage: 402.7+ KB
info:
 None
head:
 0        SUV
1     pickup
2      sedan
3     pickup
4      sedan
5      sedan
6      sedan
7        SUV
8        SUV
9        SUV
10    pickup
11     sedan
12    pickup
13     sedan
14       SUV
Name: type, dtype: object
sample:
 40209        sedan
32596          SUV
44297     mini-van
43906        truck
49620        truck
43689        truck
45411    hatchback
24020    hatchback
44606        wagon
15637          SUV
22844       pickup
41513        sedan
26476        sedan
34876          SUV
26729        sedan
Name: type, dtype: object

In [27]:
def explore_df(df, name):
    print("="*50)
    print(f"Exploring Column: \"{name}\"")
    print("First few rows:")
    print(df.head(), "\n")
    print("Data types:")
    print(df.dtypes, "\n")
    print("Summary statistics:")
    print(df.describe(include='all'), "\n")
    print("Data Frame Info:")
    print(df.info(), "\n")
    print("Get 2 random rows:")
    print(df.sample(n=2), "\n")
    print("="*50, "\n")

for col in df:
    explore_df(df[col],col)

==================================================
Exploring Column: "price"
First few rows:
0     9400
1    25500
2     5500
3     1500
4    14900
Name: price, dtype: int64

Data types:
int64

Summary statistics:
count     51525.000000
mean      12132.464920
std       10040.803015
min           1.000000
25%        5000.000000
50%        9000.000000
75%       16839.000000
max      375000.000000
Name: price, dtype: float64

Data Frame Info:
<class 'pandas.core.series.Series'>
RangeIndex: 51525 entries, 0 to 51524
Series name: price
Non-Null Count  Dtype
--------------  -----
51525 non-null  int64
dtypes: int64(1)
memory usage: 402.7 KB
None

Get 2 random rows:
15697    30900
31957      204
Name: price, dtype: int64

==================================================

==================================================
Exploring Column: "model_year"
First few rows:
0    2011.0
1       NaN
2    2013.0
3    2003.0
4    2017.0
Name: model_year, dtype: float64

Data types:
float64

Summary statistics:
count    47906.000000
mean      2009.750470
std          6.282065
min       1908.000000
25%       2006.000000
50%       2011.000000
75%       2014.000000
max       2019.000000
Name: model_year, dtype: float64

Data Frame Info:
<class 'pandas.core.series.Series'>
RangeIndex: 51525 entries, 0 to 51524
Series name: model_year
Non-Null Count  Dtype
--------------  -----
47906 non-null  float64
dtypes: float64(1)
memory usage: 402.7 KB
None

Get 2 random rows:
22455    2015.0
24149       NaN
Name: model_year, dtype: float64

==================================================

==================================================
Exploring Column: "model"
First few rows:
0            bmw x5
1        ford f-150
2    hyundai sonata
3        ford f-150
4      chrysler 200
Name: model, dtype: object

Data types:
object

Summary statistics:
count          51525
unique           100
top       ford f-150
freq            2796
Name: model, dtype: object

Data Frame Info:
<class 'pandas.core.series.Series'>
RangeIndex: 51525 entries, 0 to 51524
Series name: model
Non-Null Count  Dtype
--------------  -----
51525 non-null  object
dtypes: object(1)
memory usage: 402.7+ KB
None

Get 2 random rows:
689               ford explorer
1950    chrysler town & country
Name: model, dtype: object

==================================================

==================================================
Exploring Column: "condition"
First few rows:
0         good
1         good
2     like new
3         fair
4    excellent
Name: condition, dtype: object

Data types:
object

Summary statistics:
count         51525
unique            6
top       excellent
freq          24773
Name: condition, dtype: object

Data Frame Info:
<class 'pandas.core.series.Series'>
RangeIndex: 51525 entries, 0 to 51524
Series name: condition
Non-Null Count  Dtype
--------------  -----
51525 non-null  object
dtypes: object(1)
memory usage: 402.7+ KB
None

Get 2 random rows:
48175    excellent
30403    excellent
Name: condition, dtype: object

==================================================

==================================================
Exploring Column: "cylinders"
First few rows:
0    6.0
1    6.0
2    4.0
3    8.0
4    4.0
Name: cylinders, dtype: float64

Data types:
float64

Summary statistics:
count    46265.000000
mean         6.125235
std          1.660360
min          3.000000
25%          4.000000
50%          6.000000
75%          8.000000
max         12.000000
Name: cylinders, dtype: float64

Data Frame Info:
<class 'pandas.core.series.Series'>
RangeIndex: 51525 entries, 0 to 51524
Series name: cylinders
Non-Null Count  Dtype
--------------  -----
46265 non-null  float64
dtypes: float64(1)
memory usage: 402.7 KB
None

Get 2 random rows:
43051    10.0
37190     4.0
Name: cylinders, dtype: float64

==================================================

==================================================
Exploring Column: "fuel"
First few rows:
0    gas
1    gas
2    gas
3    gas
4    gas
Name: fuel, dtype: object

Data types:
object

Summary statistics:
count     51525
unique        5
top         gas
freq      47288
Name: fuel, dtype: object

Data Frame Info:
<class 'pandas.core.series.Series'>
RangeIndex: 51525 entries, 0 to 51524
Series name: fuel
Non-Null Count  Dtype
--------------  -----
51525 non-null  object
dtypes: object(1)
memory usage: 402.7+ KB
None

Get 2 random rows:
36235    gas
23452    gas
Name: fuel, dtype: object

==================================================

==================================================
Exploring Column: "odometer"
First few rows:
0    145000.0
1     88705.0
2    110000.0
3         NaN
4     80903.0
Name: odometer, dtype: float64

Data types:
float64

Summary statistics:
count     43633.000000
mean     115553.461738
std       65094.611341
min           0.000000
25%       70000.000000
50%      113000.000000
75%      155000.000000
max      990000.000000
Name: odometer, dtype: float64

Data Frame Info:
<class 'pandas.core.series.Series'>
RangeIndex: 51525 entries, 0 to 51524
Series name: odometer
Non-Null Count  Dtype
--------------  -----
43633 non-null  float64
dtypes: float64(1)
memory usage: 402.7 KB
None

Get 2 random rows:
30832         NaN
7552     121203.0
Name: odometer, dtype: float64

==================================================

==================================================
Exploring Column: "transmission"
First few rows:
0    automatic
1    automatic
2    automatic
3    automatic
4    automatic
Name: transmission, dtype: object

Data types:
object

Summary statistics:
count         51525
unique            3
top       automatic
freq          46902
Name: transmission, dtype: object

Data Frame Info:
<class 'pandas.core.series.Series'>
RangeIndex: 51525 entries, 0 to 51524
Series name: transmission
Non-Null Count  Dtype
--------------  -----
51525 non-null  object
dtypes: object(1)
memory usage: 402.7+ KB
None

Get 2 random rows:
4842    automatic
6379    automatic
Name: transmission, dtype: object

==================================================

==================================================
Exploring Column: "type"
First few rows:
0       SUV
1    pickup
2     sedan
3    pickup
4     sedan
Name: type, dtype: object

Data types:
object

Summary statistics:
count     51525
unique       13
top         SUV
freq      12405
Name: type, dtype: object

Data Frame Info:
<class 'pandas.core.series.Series'>
RangeIndex: 51525 entries, 0 to 51524
Series name: type
Non-Null Count  Dtype
--------------  -----
51525 non-null  object
dtypes: object(1)
memory usage: 402.7+ KB
None

Get 2 random rows:
13976    sedan
51098      SUV
Name: type, dtype: object

==================================================

==================================================
Exploring Column: "paint_color"
First few rows:
0      NaN
1    white
2      red
3      NaN
4    black
Name: paint_color, dtype: object

Data types:
object

Summary statistics:
count     42258
unique       12
top       white
freq      10029
Name: paint_color, dtype: object

Data Frame Info:
<class 'pandas.core.series.Series'>
RangeIndex: 51525 entries, 0 to 51524
Series name: paint_color
Non-Null Count  Dtype
--------------  -----
42258 non-null  object
dtypes: object(1)
memory usage: 402.7+ KB
None

Get 2 random rows:
21642     grey
28242    brown
Name: paint_color, dtype: object

==================================================

==================================================
Exploring Column: "is_4wd"
First few rows:
0    1.0
1    1.0
2    NaN
3    NaN
4    NaN
Name: is_4wd, dtype: float64

Data types:
float64

Summary statistics:
count    25572.0
mean         1.0
std          0.0
min          1.0
25%          1.0
50%          1.0
75%          1.0
max          1.0
Name: is_4wd, dtype: float64

Data Frame Info:
<class 'pandas.core.series.Series'>
RangeIndex: 51525 entries, 0 to 51524
Series name: is_4wd
Non-Null Count  Dtype
--------------  -----
25572 non-null  float64
dtypes: float64(1)
memory usage: 402.7 KB
None

Get 2 random rows:
51352    1.0
23691    NaN
Name: is_4wd, dtype: float64

==================================================

==================================================
Exploring Column: "date_posted"
First few rows:
0    2018-06-23
1    2018-10-19
2    2019-02-07
3    2019-03-22
4    2019-04-02
Name: date_posted, dtype: object

Data types:
object

Summary statistics:
count          51525
unique           354
top       2019-03-17
freq             186
Name: date_posted, dtype: object

Data Frame Info:
<class 'pandas.core.series.Series'>
RangeIndex: 51525 entries, 0 to 51524
Series name: date_posted
Non-Null Count  Dtype
--------------  -----
51525 non-null  object
dtypes: object(1)
memory usage: 402.7+ KB
None

Get 2 random rows:
25798    2018-12-28
46556    2019-03-22
Name: date_posted, dtype: object

==================================================

==================================================
Exploring Column: "days_listed"
First few rows:
0    19
1    50
2    79
3     9
4    28
Name: days_listed, dtype: int64

Data types:
int64

Summary statistics:
count    51525.00000
mean        39.55476
std         28.20427
min          0.00000
25%         19.00000
50%         33.00000
75%         53.00000
max        271.00000
Name: days_listed, dtype: float64

Data Frame Info:
<class 'pandas.core.series.Series'>
RangeIndex: 51525 entries, 0 to 51524
Series name: days_listed
Non-Null Count  Dtype
--------------  -----
51525 non-null  int64
dtypes: int64(1)
memory usage: 402.7 KB
None

Get 2 random rows:
45213    37
50442    47
Name: days_listed, dtype: int64

==================================================