In [1]:
# Loading all the libraries
import pandas as pd
import numpy as np
import scipy.stats
import streamlit as st
import time

In [3]:
#Load Data

df = pd.read_csv('../vehicles_us.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
dtypes: float64(4), int64(2), object(7)
memory usage: 5.1+ MB

In [9]:
print ("info: \n",df['type'].info())

print("head: \n",df['type'].head(n=15))

print("sample: \n",df['type'].sample(n=15))

<class 'pandas.core.series.Series'>
RangeIndex: 51525 entries, 0 to 51524
Series name: type
Non-Null Count  Dtype
--------------  -----
51525 non-null  object
dtypes: object(1)
memory usage: 402.7+ KB
info:
 None
head:
 0        SUV
1     pickup
2      sedan
3     pickup
4      sedan
5      sedan
6      sedan
7        SUV
8        SUV
9        SUV
10    pickup
11     sedan
12    pickup
13     sedan
14       SUV
Name: type, dtype: object
sample:
 40209        sedan
32596          SUV
44297     mini-van
43906        truck
49620        truck
43689        truck
45411    hatchback
24020    hatchback
44606        wagon
15637          SUV
22844       pickup
41513        sedan
26476        sedan
34876          SUV
26729        sedan
Name: type, dtype: object

In [25]:
def explore_df(df, name):
    print("="*50)
    print(f"Exploring Column: \"{name}\"")
    print("First few rows:")
    print(df.head(), "\n")
    print("Data types:")
    print(df.dtypes, "\n")
    print("Summary statistics:")
    print(df.describe(include='all'), "\n")
    print("Data Frame Info:")
    print(df.info(), "\n")
    print("Get 2 random rows:")
    print(df.sample(n=2), "\n")
    print("="*50, "\n")

for col in df:
    explore_df(df,col)

==================================================
Exploring Column: "price"
First few rows:
   price  model_year           model  condition  cylinders fuel  odometer  \
0   9400      2011.0          bmw x5       good        6.0  gas  145000.0
1  25500         NaN      ford f-150       good        6.0  gas   88705.0
2   5500      2013.0  hyundai sonata   like new        4.0  gas  110000.0
3   1500      2003.0      ford f-150       fair        8.0  gas       NaN
4  14900      2017.0    chrysler 200  excellent        4.0  gas   80903.0

  transmission    type paint_color  is_4wd date_posted  days_listed
0    automatic     SUV         NaN     1.0  2018-06-23           19
1    automatic  pickup       white     1.0  2018-10-19           50
2    automatic   sedan         red     NaN  2019-02-07           79
3    automatic  pickup         NaN     NaN  2019-03-22            9
4    automatic   sedan       black     NaN  2019-04-02           28

Data types:
price             int64
model_year      float64
model            object
condition        object
cylinders       float64
fuel             object
odometer        float64
transmission     object
type             object
paint_color      object
is_4wd          float64
date_posted      object
days_listed       int64
dtype: object

Summary statistics:
                price    model_year       model  condition     cylinders  \
count    51525.000000  47906.000000       51525      51525  46265.000000
unique            NaN           NaN         100          6           NaN
top               NaN           NaN  ford f-150  excellent           NaN
freq              NaN           NaN        2796      24773           NaN
mean     12132.464920   2009.750470         NaN        NaN      6.125235
std      10040.803015      6.282065         NaN        NaN      1.660360
min          1.000000   1908.000000         NaN        NaN      3.000000
25%       5000.000000   2006.000000         NaN        NaN      4.000000
50%       9000.000000   2011.000000         NaN        NaN      6.000000
75%      16839.000000   2014.000000         NaN        NaN      8.000000
max     375000.000000   2019.000000         NaN        NaN     12.000000

         fuel       odometer transmission   type paint_color   is_4wd  \
count   51525   43633.000000        51525  51525       42258  25572.0
unique      5            NaN            3     13          12      NaN
top       gas            NaN    automatic    SUV       white      NaN
freq    47288            NaN        46902  12405       10029      NaN
mean      NaN  115553.461738          NaN    NaN         NaN      1.0
std       NaN   65094.611341          NaN    NaN         NaN      0.0
min       NaN       0.000000          NaN    NaN         NaN      1.0
25%       NaN   70000.000000          NaN    NaN         NaN      1.0
50%       NaN  113000.000000          NaN    NaN         NaN      1.0
75%       NaN  155000.000000          NaN    NaN         NaN      1.0
max       NaN  990000.000000          NaN    NaN         NaN      1.0

       date_posted  days_listed
count        51525  51525.00000
unique         354          NaN
top     2019-03-17          NaN
freq           186          NaN
mean           NaN     39.55476
std            NaN     28.20427
min            NaN      0.00000
25%            NaN     19.00000
50%            NaN     33.00000
75%            NaN     53.00000
max            NaN    271.00000

Data Frame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
dtypes: float64(4), int64(2), object(7)
memory usage: 5.1+ MB
None

Get 2 random rows:
       price  model_year         model  condition  cylinders fuel  odometer  \
31200   8995      2012.0   ford escape  excellent        6.0  gas   91881.0
41041   2950      1994.0  dodge dakota       good        8.0  gas  198000.0

      transmission    type paint_color  is_4wd date_posted  days_listed
31200    automatic   wagon      silver     1.0  2018-12-25           43
41041    automatic  pickup         red     NaN  2019-04-13           27

==================================================

==================================================
Exploring Column: "model_year"
First few rows:
   price  model_year           model  condition  cylinders fuel  odometer  \
0   9400      2011.0          bmw x5       good        6.0  gas  145000.0
1  25500         NaN      ford f-150       good        6.0  gas   88705.0
2   5500      2013.0  hyundai sonata   like new        4.0  gas  110000.0
3   1500      2003.0      ford f-150       fair        8.0  gas       NaN
4  14900      2017.0    chrysler 200  excellent        4.0  gas   80903.0

  transmission    type paint_color  is_4wd date_posted  days_listed
0    automatic     SUV         NaN     1.0  2018-06-23           19
1    automatic  pickup       white     1.0  2018-10-19           50
2    automatic   sedan         red     NaN  2019-02-07           79
3    automatic  pickup         NaN     NaN  2019-03-22            9
4    automatic   sedan       black     NaN  2019-04-02           28

Data types:
price             int64
model_year      float64
model            object
condition        object
cylinders       float64
fuel             object
odometer        float64
transmission     object
type             object
paint_color      object
is_4wd          float64
date_posted      object
days_listed       int64
dtype: object

Summary statistics:
                price    model_year       model  condition     cylinders  \
count    51525.000000  47906.000000       51525      51525  46265.000000
unique            NaN           NaN         100          6           NaN
top               NaN           NaN  ford f-150  excellent           NaN
freq              NaN           NaN        2796      24773           NaN
mean     12132.464920   2009.750470         NaN        NaN      6.125235
std      10040.803015      6.282065         NaN        NaN      1.660360
min          1.000000   1908.000000         NaN        NaN      3.000000
25%       5000.000000   2006.000000         NaN        NaN      4.000000
50%       9000.000000   2011.000000         NaN        NaN      6.000000
75%      16839.000000   2014.000000         NaN        NaN      8.000000
max     375000.000000   2019.000000         NaN        NaN     12.000000

         fuel       odometer transmission   type paint_color   is_4wd  \
count   51525   43633.000000        51525  51525       42258  25572.0
unique      5            NaN            3     13          12      NaN
top       gas            NaN    automatic    SUV       white      NaN
freq    47288            NaN        46902  12405       10029      NaN
mean      NaN  115553.461738          NaN    NaN         NaN      1.0
std       NaN   65094.611341          NaN    NaN         NaN      0.0
min       NaN       0.000000          NaN    NaN         NaN      1.0
25%       NaN   70000.000000          NaN    NaN         NaN      1.0
50%       NaN  113000.000000          NaN    NaN         NaN      1.0
75%       NaN  155000.000000          NaN    NaN         NaN      1.0
max       NaN  990000.000000          NaN    NaN         NaN      1.0

       date_posted  days_listed
count        51525  51525.00000
unique         354          NaN
top     2019-03-17          NaN
freq           186          NaN
mean           NaN     39.55476
std            NaN     28.20427
min            NaN      0.00000
25%            NaN     19.00000
50%            NaN     33.00000
75%            NaN     53.00000
max            NaN    271.00000

Data Frame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
dtypes: float64(4), int64(2), object(7)
memory usage: 5.1+ MB
None

Get 2 random rows:
       price  model_year              model condition  cylinders    fuel  \
51166   8900      2012.0  volkswagen passat  like new        NaN  diesel
34290   2200      2005.0    chevrolet tahoe      good        8.0     gas

       odometer transmission   type paint_color  is_4wd date_posted  \
51166   88555.0    automatic  sedan        blue     NaN  2018-10-07
34290  153258.0    automatic    SUV         red     1.0  2018-12-12

       days_listed
51166           22
34290           18

==================================================

==================================================
Exploring Column: "model"
First few rows:
   price  model_year           model  condition  cylinders fuel  odometer  \
0   9400      2011.0          bmw x5       good        6.0  gas  145000.0
1  25500         NaN      ford f-150       good        6.0  gas   88705.0
2   5500      2013.0  hyundai sonata   like new        4.0  gas  110000.0
3   1500      2003.0      ford f-150       fair        8.0  gas       NaN
4  14900      2017.0    chrysler 200  excellent        4.0  gas   80903.0

  transmission    type paint_color  is_4wd date_posted  days_listed
0    automatic     SUV         NaN     1.0  2018-06-23           19
1    automatic  pickup       white     1.0  2018-10-19           50
2    automatic   sedan         red     NaN  2019-02-07           79
3    automatic  pickup         NaN     NaN  2019-03-22            9
4    automatic   sedan       black     NaN  2019-04-02           28

Data types:
price             int64
model_year      float64
model            object
condition        object
cylinders       float64
fuel             object
odometer        float64
transmission     object
type             object
paint_color      object
is_4wd          float64
date_posted      object
days_listed       int64
dtype: object

Summary statistics:
                price    model_year       model  condition     cylinders  \
count    51525.000000  47906.000000       51525      51525  46265.000000
unique            NaN           NaN         100          6           NaN
top               NaN           NaN  ford f-150  excellent           NaN
freq              NaN           NaN        2796      24773           NaN
mean     12132.464920   2009.750470         NaN        NaN      6.125235
std      10040.803015      6.282065         NaN        NaN      1.660360
min          1.000000   1908.000000         NaN        NaN      3.000000
25%       5000.000000   2006.000000         NaN        NaN      4.000000
50%       9000.000000   2011.000000         NaN        NaN      6.000000
75%      16839.000000   2014.000000         NaN        NaN      8.000000
max     375000.000000   2019.000000         NaN        NaN     12.000000

         fuel       odometer transmission   type paint_color   is_4wd  \
count   51525   43633.000000        51525  51525       42258  25572.0
unique      5            NaN            3     13          12      NaN
top       gas            NaN    automatic    SUV       white      NaN
freq    47288            NaN        46902  12405       10029      NaN
mean      NaN  115553.461738          NaN    NaN         NaN      1.0
std       NaN   65094.611341          NaN    NaN         NaN      0.0
min       NaN       0.000000          NaN    NaN         NaN      1.0
25%       NaN   70000.000000          NaN    NaN         NaN      1.0
50%       NaN  113000.000000          NaN    NaN         NaN      1.0
75%       NaN  155000.000000          NaN    NaN         NaN      1.0
max       NaN  990000.000000          NaN    NaN         NaN      1.0

       date_posted  days_listed
count        51525  51525.00000
unique         354          NaN
top     2019-03-17          NaN
freq           186          NaN
mean           NaN     39.55476
std            NaN     28.20427
min            NaN      0.00000
25%            NaN     19.00000
50%            NaN     33.00000
75%            NaN     53.00000
max            NaN    271.00000

Data Frame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
dtypes: float64(4), int64(2), object(7)
memory usage: 5.1+ MB
None

Get 2 random rows:
       price  model_year                     model condition  cylinders fuel  \
16605   2500      1999.0            subaru outback      good        4.0  gas
13590   6000      2011.0  chevrolet silverado 1500      fair        8.0  gas

       odometer transmission   type paint_color  is_4wd date_posted  \
16605  185200.0    automatic  wagon        blue     NaN  2018-12-31
13590  220000.0    automatic  truck        grey     1.0  2019-03-13

       days_listed
16605           50
13590           42

==================================================

==================================================
Exploring Column: "condition"
First few rows:
   price  model_year           model  condition  cylinders fuel  odometer  \
0   9400      2011.0          bmw x5       good        6.0  gas  145000.0
1  25500         NaN      ford f-150       good        6.0  gas   88705.0
2   5500      2013.0  hyundai sonata   like new        4.0  gas  110000.0
3   1500      2003.0      ford f-150       fair        8.0  gas       NaN
4  14900      2017.0    chrysler 200  excellent        4.0  gas   80903.0

  transmission    type paint_color  is_4wd date_posted  days_listed
0    automatic     SUV         NaN     1.0  2018-06-23           19
1    automatic  pickup       white     1.0  2018-10-19           50
2    automatic   sedan         red     NaN  2019-02-07           79
3    automatic  pickup         NaN     NaN  2019-03-22            9
4    automatic   sedan       black     NaN  2019-04-02           28

Data types:
price             int64
model_year      float64
model            object
condition        object
cylinders       float64
fuel             object
odometer        float64
transmission     object
type             object
paint_color      object
is_4wd          float64
date_posted      object
days_listed       int64
dtype: object

Summary statistics:
                price    model_year       model  condition     cylinders  \
count    51525.000000  47906.000000       51525      51525  46265.000000
unique            NaN           NaN         100          6           NaN
top               NaN           NaN  ford f-150  excellent           NaN
freq              NaN           NaN        2796      24773           NaN
mean     12132.464920   2009.750470         NaN        NaN      6.125235
std      10040.803015      6.282065         NaN        NaN      1.660360
min          1.000000   1908.000000         NaN        NaN      3.000000
25%       5000.000000   2006.000000         NaN        NaN      4.000000
50%       9000.000000   2011.000000         NaN        NaN      6.000000
75%      16839.000000   2014.000000         NaN        NaN      8.000000
max     375000.000000   2019.000000         NaN        NaN     12.000000

         fuel       odometer transmission   type paint_color   is_4wd  \
count   51525   43633.000000        51525  51525       42258  25572.0
unique      5            NaN            3     13          12      NaN
top       gas            NaN    automatic    SUV       white      NaN
freq    47288            NaN        46902  12405       10029      NaN
mean      NaN  115553.461738          NaN    NaN         NaN      1.0
std       NaN   65094.611341          NaN    NaN         NaN      0.0
min       NaN       0.000000          NaN    NaN         NaN      1.0
25%       NaN   70000.000000          NaN    NaN         NaN      1.0
50%       NaN  113000.000000          NaN    NaN         NaN      1.0
75%       NaN  155000.000000          NaN    NaN         NaN      1.0
max       NaN  990000.000000          NaN    NaN         NaN      1.0

       date_posted  days_listed
count        51525  51525.00000
unique         354          NaN
top     2019-03-17          NaN
freq           186          NaN
mean           NaN     39.55476
std            NaN     28.20427
min            NaN      0.00000
25%            NaN     19.00000
50%            NaN     33.00000
75%            NaN     53.00000
max            NaN    271.00000

Data Frame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
dtypes: float64(4), int64(2), object(7)
memory usage: 5.1+ MB
None

Get 2 random rows:
     price  model_year          model  condition  cylinders fuel  odometer  \
792   9000      2011.0       ram 1500       good        NaN  gas  175000.0
278  17379      2007.0  jeep wrangler  excellent        6.0  gas  111921.0

    transmission   type paint_color  is_4wd date_posted  days_listed
792    automatic  truck       white     NaN  2019-03-18           35
278    automatic    SUV         NaN     1.0  2018-12-26           50

==================================================

==================================================
Exploring Column: "cylinders"
First few rows:
   price  model_year           model  condition  cylinders fuel  odometer  \
0   9400      2011.0          bmw x5       good        6.0  gas  145000.0
1  25500         NaN      ford f-150       good        6.0  gas   88705.0
2   5500      2013.0  hyundai sonata   like new        4.0  gas  110000.0
3   1500      2003.0      ford f-150       fair        8.0  gas       NaN
4  14900      2017.0    chrysler 200  excellent        4.0  gas   80903.0

  transmission    type paint_color  is_4wd date_posted  days_listed
0    automatic     SUV         NaN     1.0  2018-06-23           19
1    automatic  pickup       white     1.0  2018-10-19           50
2    automatic   sedan         red     NaN  2019-02-07           79